{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('Dashboard') }}
{% endblock %}

{% block title %}Tâches{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div id="dashboard">
            <Dashboard/>
        </div>

        <div class="container">
            <h2 class="text-center mt-2 mb-2 bg-dark text-white p-3"> A faire... <i class="fas fa-tasks"></i></h2>

            <div class="row">
                {% for task in tasks %}
                    <div class="col-4 mt-3">
                        <div class="card bg-secondary text-white task{{ task.id }}">
                            <div class="card-header text-center ">
                                <div class="container-fluid">
                                    <i class="fas fa-times float-right"></i>

                                </div>
                                <br>
                                <div>
                                    <h4><strong>{{ task.user.name }}</strong></h4>
                                    le, {{ task.createdAt | date('d/m/Y') }}
                                </div>
                            </div>
                            <div class="card-body">
                                <p><strong>{{ task.title }}</strong></p>
                                <p class="text-justify"> {{ task.content }} </p>
                            </div>
                            <div class="card-footer text-center ">
                                <button type="button"
                                        class="btn btn-sm btn-primary mr-3 btnIsDone"
                                        data-target="{{ task.id }}">
                                    <i class="fas fa-check"></i>
                                </button>


                                <button type="button" class="btn btn-sm btn-success mr-3" data-toggle="modal"
                                        data-target="#newTask">
                                    <i class="fas fa-plus"></i>
                                </button>
                                {% if app.user == task.user or app.user.roles == ["ROLE_ADMIN"] %}

                                    <button type="button"
                                            class="btn btn-sm btn-primary mr-3 text-white"
                                            data-toggle="modal" data-target="#editTaskDone{{ task.id }}"
                                            id="{{ task.id }}"

                                    >
                                        <i class="fas fa-pen"></i>
                                    </button>

                                    <button type="button"
                                            class="btn btn-sm btn-danger  btnDelete"
                                            data-target="{{ task.id }}">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
            {% include 'partials/modal-task-create.html.twig' %}
            {% include 'partials/modal-task-edit.html.twig' %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{{ asset('js/isDone.js') }}"></script>
    <script src="{{ asset('js/taskDelete.js') }}"></script>
    {{ encore_entry_script_tags('Dashboard') }}
    <script src="{{ asset('js/toast.js') }}"></script>
{% endblock %}
